*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

dt{
    position: relative;
    left: 28%;
}

dd{
    position: relative;
    left: 28%;
    text-align: left;
    max-width: 150px;
    width:100%
}

.employee__figure{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.employee__img{
    width: 100%;
    height: 100%;
    vertical-align:bottom;
    object-fit: cover;
}

.employee__title{
    color: #FFAA33;
    font-weight: 500;
    font-style: italic;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.employee__content{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    /*for scrollbar if needed*/
    /*max-height: 350px;
    overflow-y: scroll;
    padding-right: 15px;*/
    color: #CFE0EA;
}

.employee__back-link{
    font-size: 15px;
    color: #CFE0EA;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    transition: 0.3s;
}

.employee__back-link:hover{
    color: #FFAA33;
    text-decoration: none;
}

/*arrow icon*/
.employee__back-link::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f060";
    font-size: 20px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #FFAA33;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.employee__link{
    color: #CFE0EA;
    transition: 0.3s;
    text-decoration: none;
    font-style: italic;
}

.employee__link:hover{
    color:#FFAA33;
    text-decoration: none;
}